@import '/opt/axfood/portfolio/reactjs_portfolio/node_modules/@material/checkbox/dist/mdc.checkbox.css';
@import '/opt/axfood/portfolio/reactjs_portfolio/node_modules/@material/data-table/dist/mdc.data-table.css';

.navbar {
  display: flex;
  align-items: center;
  background: rebeccapurple;
  color: black;
  font-family: Helvetica;
  font-weight: 300; }

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px; }

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle; }
